* {
	font-family: Montserrat;
}
body {
	background-color: #fffaef;
}
.box {
	position: relative;
	margin: auto;
	height: 200px;
	background-color: #FFF;
	border-radius: 8px;
	padding: 16px;

}
p {
	margin: 0;
}
.box:hover {
	box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14),0 1px 10px 0 rgba(0,0,0,0.12),0 2px 4px -1px rgba(0,0,0,0.3);
}
.boxBottom {
	position: absolute;
	bottom: 16px;
	width: 100%;
}
.date {
	display: inline-block;
	font-size: 12px;
	font-weight: bold;
}
.check {
	position:absolute;
	right:16px;
	bottom:16px;
}
.row .col {
	padding:0.75rem;
}

.addButton {
	position: fixed;
	right: 48px;
	bottom: 48px;
}

#newBox {
	width: 500px;
	height: 420px;
	max-height: 100%;
}

/*

Login Page 

*/

.loginContainer {
	margin-top: 100px;
	background-color: #FFF;
	border-radius: 8px;
	padding: 16px;
}

/*

Modals

*/

.shibaPick {
	width: 100px;
	height: 100px;
}