<!-- Sidebar -->
<ul id="slide-out" class="sidenav">
	<li>
		<div class="user-view">
			<div class="background">
				<img src="https://png.pngtree.com/thumb_back/fw800/back_pic/04/56/39/595865c6a86e7a6.jpg">
			</div>
			<a href="#profilePhotoModal" class="waves-effect modal-trigger"><img class="circle" src="img/profilepic.jpg"></a>
			<span class="white-text name">{{ name }}</span>
		</div>
	</li>
	<li><a href="#settingsModal" class="waves-effect modal-trigger"><i class="material-icons">settings</i>Settings</a></li>
	<li><a href="#aboutUsModal" class="waves-effect modal-trigger"><i class="material-icons">supervisor_account</i>About Us</a></li>
	<li><a href="#contactModal" class="waves-effect modal-trigger"><i class="material-icons">message</i>Contact</a></li>
	<li><a href="logout.php" class="waves-effect"><i class="material-icons">power_settings_new</i>Logout</a></li>

	<li>
	</li>

	<div class="divider"></div>
</li>
<li><a class="subheader">ToDoBoX</a></li>
<li><a href="index.php"><i class="material-icons">check_box</i>Current</a></li>
<li><a href="archive.php"><i class="material-icons">archive</i>Archive</a></li>
</ul>

<!-- Modal New Box -->
<form method="post" action="index.php">
	<div id="newBox" class="modal">
		<div class="modal-content newBoxContent">
			<h5>New Note</h5>
			<div class="row blue-text text-darken-2">
				<div class="input-field col s12">
					<i class="material-icons prefix">mode_edit</i>
					<textarea name="noteInput" id="noteInput" class="materialize-textarea" data-length="120"></textarea>
					<label for="noteInput">What to do?</label>
				</div>
				<div class="input-field col s12">
					<i class="material-icons prefix">date_range</i>
					<input type="date" name="date" id="date">
					<label for="date">Due by</label>
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<a href="#!" class="modal-close btn-large waves-effect waves-red btn-flat transparent">
				<i class="material-icons">clear</i>
			</a>
			<button type="submit" class="modal-close btn-large waves-effect waves-green btn-flat transparent"><i class="material-icons">check</i></button>
		</div>
	</div>
</form>

<!-- Modal Profile Photo -->
<div id="profilePhotoModal" class="modal">
    <div class="modal-content">

        <h5>Profile Photo</h5>
        <p>Pick the best photo for you!<br><br></p>
    <div class="row center">
      <div class="col">
				<img class="circle" src="img/cat.jpg">
			</div>
      <div class="col s6">
				<img class="circle" src="img/chick.png">
			</div>
		</div>
		<div class="row">
      <div class="col">
				<img class="circle" src="img/hare.jpg">
			</div>
      <div class="col s6">
				<img class="circle" src="img/dog.png">
			</div>
		</div>
          

</div>
    </div>
</div>

<!-- Modal Settings -->
<div id="settingsModal" class="modal">
	<div class="modal-content">
		<h5>Settings</h5>
		<ul class="collapsible">
			<li>
				<div class="collapsible-header">
					<i class="material-icons">account_box</i>
					Change name
				</div>

				<div class="collapsible-body">
      <form action="index.php" method="post">

					<div class="row">
						<div class="input-field col s6">
							<input id="name" type="text" class="validate" value="{{ name }}" name="new_name">
							<label for="name">Name</label>
						</div>
					</div>
					<button class="btn waves-effect waves-light" type="submit">Change
						<i class="material-icons right">edit</i>
					</button>
			</form>

				</div>
			</li>

			<li>
				<div class="collapsible-header">
					<i class="material-icons">email</i>
					Change email address
				</div>
				<div class="collapsible-body">
      <form action="index.php" method="post">
				
					<div class="row">
						<div class="input-field col s6">
							<input id="email" type="email" class="validate" value="{{ email }}" name="new_email">
							<label for="email">Email</label>
						</div>
					</div>
					<button class="btn waves-effect waves-light" type="submit" name="action">Change
						<i class="material-icons right">edit</i>
					</button>
			</form>

				</div>
			</li>
			<li>
				<div class="collapsible-header">
					<i class="material-icons">enhanced_encryption</i>
					Change password
				</div>
				<div class="collapsible-body">
      <form action="index.php" method="post">

					<div class="row">
						<div class="input-field col s6">
							<input id="password1" type="password" class="validate" name="new_password" required>
							<label for="password1">New Password</label>
						</div>
						<div class="input-field col s6">
							<input id="password2" type="password" class="validate" name="confirm_password" required>
							<label for="password2">Confirm Password</label>
						</div>
					</div>
					<button class="btn waves-effect waves-light" type="submit">Change
						<i class="material-icons right">edit</i>
					</button>
			</form>


				</div>
			</li>
		</ul>
	</div>
</div>

<!-- Modal Contact -->
<div id="contactModal" class="modal">
	<div class="modal-content">
		<h5>Contact</h5>
		<div class="row">
			<div class="input-field col s6">
				<input id="name" type="text" class="validate" value="{{ name }}" required>
				<label for="name">Name</label>
			</div>
		</div>

		<div class="row">
			<div class="input-field col s6">
				<input id="email" type="email" class="validate" value="{{ email }}" required>
				<label for="email">Contact Email</label>
			</div>
		</div>

		<div class="row">
			<form class="col s12">
				<div class="row">
					<div class="input-field col s12">
						<textarea id="textarea" class="materialize-textarea"></textarea>
						<label for="textarea">Message</label>
					</div>
				</div>
			</form>
		</div>
		<button class="btn waves-effect waves-light" type="submit" name="action">Send
			<i class="material-icons right">send</i>
		</button>
	</div>
</div>

<!-- Modal About Us -->
<div id="aboutUsModal" class="modal">
    <div class="modal-content">
        <h5>About Us</h5>
        <p>ToDoBox is the best application to maintain your tasks.<br>
            All the features are available with one click.<br>
              <blockquote>
      Availability<br>
      Integrity<br>
      Confidentiality<br>
    </blockquote>
        <small class="right">quoted by Valdo Praust, TTÜ Cyber Security Engineering.<br></small>

          

            <br>¡Muchas gracias! ありがとうございます。<br>

        </p>
        <img class="responsive-img" src="img/mexjap.jpg">
        <small class="right">Developed by TTÜ students: Manuel Trinidad and Shiori Yamazaki.<br></small>
    </div>
</div>

<a class="btn-floating btn-large waves-effect waves-light light-blue darken-4 addButton modal-trigger" href="#newBox">
	<i class="material-icons">add</i>
</a>
